/* General */
:root {
    --color-primary: #FFCC00;
    --color-secondary: #D9D1C7;
  }

  a {
    color: inherit;
  }

  .search-button-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-primary);
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
  }

  .search-button-secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-secondary);
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
  }

  /* Text */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
      font-size: 28px;
    }
  h3 {
      font-size: 24px;
  }
  h4 {
      font-size: 20px;
  }
  h5 {
      font-size: 18px;
  }
  h6 {
      font-size: 16px;
  }
  p {
      font-size: 16px;
  }

  /* Grouped */
  .search,
  .info,
  .social {
    padding: 10px 0px;
  }

  .results-found h5,
  .results-found h6,
  .results-found img,
  .results-not-found h5,
  .results-not-found img,
  .info h3 {
    padding: 12px 0px;
  }

  /* Results-Found Section */
  .results-found {
    background-color: var(--color-secondary);
    padding: 100px 0px;
  }

  .results-found img {
    max-width: 100px;
    height: auto;
  }

  /* Results-Not-Found Section */
  .results-not-found {
    background-color: var(--color-secondary);
    padding: 100px 0px;
    outline: dashed; /* to be removed */
  }

  .results-not-found img {
    max-width: 100px;
    height: auto;
  }

  .results-not-found .input {
    padding-top: 50px;
  }

  /* Info Section */
  .info img {
    max-width: 400px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: 12px;
  }

  .info h4 {
    margin: 10px;
  }

  .card {
    border: none;
  }

  .info-card {
    padding-top: 40px;
  }

  .info .text-container {
    padding-top: 20px;
  }

  /* Search Section */
  .search {
    background-color: var(--color-primary);
    
  }

  .search-input {
    padding: 100px 0px;
  }

  /* Socials Section */
  .social {
    background-color: var(--color-secondary);
  }

  .social-icons {
    padding: 100px 0px; 
  }

  .social-icons-container {
    display: flex;
    justify-content: space-between;
  }